body{width: 800ps;
  height: 400px;}

  div{ width: 80px;
  height: 150px;
background-color: lightgray;
border: 0.5px solid black;}




.root{ 
  width: 80px; height: 75px;
  position: absolute; 
  left: 89px;  top: 84px; } 


.position{  width: 80px; height: 75px;
  position: absolute;
    left: 170px;  top : 9px;}


.table{position: absolute;
  top: 9px;
  left: 250px; }

